*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
}

main{
    background-color: rgb(241, 241, 241);
    /* border: 1px solid red; */
    width: 70%;
    margin: auto auto;
    margin-top: 30px;
    padding: 18px;
    padding-bottom: 3%;
    border-radius: 5px;
}

.texts{
    /* border: 1px solid green; */
    height: 170px;
    padding: 0 21px;
}

.vertical-align{
    margin-top: 15px;
}

.vertical-align h1{
    font-weight: 400;
}

.texts p{
    margin-top: 10px;
    text-align: justify;
}

.name-email{
    background-color: white;
    padding: 15px 0;
    padding-bottom: 1px;
}


input[name=name],
input[name=email],
label,
input[type=button]{
    padding: 15px;
    display: block;
    width: 95%;
    margin: 10px auto;
    border: 1px solid hsl(0, 6%, 49%);
}

label{
    padding-left: 0;
    border: none;
}

.btn{
    width: 100%;
    height: 30px;
    margin-top: 17px;
}

#subs-button{
    background-color: rgb(5, 184, 135);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

#subs-button:hover{
    background-color: rgb(12, 187, 140);
    cursor: pointer;
}
